*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
    
}
.navbar.background{
    
}
.navList{
    width: 70%;
    display: flex;
    align-items: center;
    

}
.navList li{
    list-style: none;
    padding: 26px 30px;
    
}
.navList li a{
    text-decoration: none;
    color: rgb(32, 29, 29);
    
}
.navList li a:hover{
    color: rgb(214, 179, 90);
}
.rightNav{
    width: 30%;
    text-align: right;

}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    /*  background: rgba(0, 0,0, 0.) url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/141/120/original/Premium_Photo___Flat_lay_of_crocheting_supplies_%281%29.jpg?1724710565); */
    background: rgba(0, 0,0, 0.4) url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/141/214/original/Premium_Photo___Colored_wool_yarn_with_crocheting_needles.jpg?1724790907');
    background-size: cover;
    
    background-blend-mode: darken;
}
.box-main{

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;

}
.firstSection{
    height: 100vh;
}
.firstHalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf img{
    width: 150px;
    height: 150px;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 50px;
   

}
.text-small{
    font-size: 20px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: rgb(236, 223, 184);
    font-size: 18px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 221, 180);
    

}
.btn-sm{
    padding: 6px 6px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: transparent;
    font-size: 15px;
    color: aliceblue;
}
.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(240, 240, 238);
    text-align: center;
    

 }
 .box{
    height: 500px;
   /** border: 2px solid black;**/
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    font-family: 'Poppins',sans-serif;
    border-radius: 10px;

 }
 .box:hover{
    cursor: pointer;
    
 }
 .box-img{
    display: flex;
    height: 400px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
 }
 
 .box-content{
    margin-left:10px;
    margin-right:10px;
 }
 .box-content p{
    color: #007185;

 }
 .contact{
    background-color: rgb(216, 216, 216);
    height: 700px;
   
    
 }
 .text-center{
    text-align: center;
    
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding-top: 40px;
 }
 .form{
    max-width: 62%;
    margin: 25px auto;
 }
 .form-input{
    margin: 14px 0px;
    width: 100%;
    padding: 5px 3px;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
    
 }

 .btn-dark{
    color: black;
    border:2px solid black;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 19px;
    margin-top: 14px;
 }
 .section{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

 .section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}

.sectionTag{
    padding: 16px 0;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}
.buy{
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    background-color:rgb(240, 240, 238); ;
    align-items: center;
    margin: 0 auto;
    margin-top: 12px;
}
.text-footer{
    text-align: center;
    
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding: 10px 0;
    background-color: rgb(82, 82, 82);
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width:1140px){
    .navList{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;

    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
        

    }
    .v-class-resp{
        opacity: 0;
    }
   .box-main{
    flex-direction: column-reverse;
    max-width: 100%;
   }
   .section{
    flex-direction: column-reverse;
   }
   .text-small{
    text-align: center;
   }
   .text-big{
    text-align: center;
   }
   .buttons{
    text-align: center;
   }
   .box{
    height: 400px;
   }
   .box-img{
    display: flex;
    height: 300px;
    width: 75%;
    justify-content: center;
    background-size: cover;
    align-items: center;
    margin: 0 auto;
   }
}

@media only screen and (max-width: 1140px) {
    .box {
        width: 45%; 
    }
}

@media only screen and (max-width: 768px) {
    .box {
        width: 50%; 
        border: 0.5px solid bisque;
        height: 70%;
    }
    .box-img{
        display: flex;
        width: 250px
    }
}

@media only screen and (max-width: 495px) {
    .box {
        width: 100%; 
    }

    .box-img {
        display: flex;
        height: 500px;
        width: 400px;
    }
}
@media only screen and (max-width: 375px) {
    .box {
        width: 100%; 
    }

    .box-img {
        display: flex;
        height: 400px;
        width: 300px;
    }
}